body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
}

.question-card {
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}
.btn-custom {
    background-color: #007bff;
    color: white;
}
.btn-custom:hover {
    background-color: #0056b3;
}
.progress-text {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #495057;
}
.answer {
    display: none;
    margin-left: auto;
    font-weight: bold;
    white-space: nowrap;
}
.explanation {
    display: none;
    font-weight: bold;
}
.navbar {
    background-color: #343a40;
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}
.nav-link {
    color: #ffffff !important;
    margin: 0 15px;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #ffc107 !important;
}
.navbar-nav {
    margin: 0 auto;
}
.question-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}