body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
}
.question-card {
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0; /* 옅은 회색 배경 */
    padding: 20px;
    border-radius: 8px;
}
.btn-custom {
    background-color: #007bff;
    color: white;
}
.btn-custom:hover {
    background-color: #0056b3;
}
.progress-text {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #495057;
}
.answer {
    display: none;
    margin-left: auto; /* 오른쪽 끝으로 이동 */
    font-weight: bold;
    white-space: nowrap; /* 한 줄로 표시 */
}
.explanation {
    display: none;
    font-weight: bold;
}
.navbar {
    background-color: #343a40; /* 어두운 회색 */
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}
.nav-link {
    color: #ffffff !important;
    margin: 0 15px; /* 좌우 간격 */
    transition: color 0.3s;
}
.nav-link:hover {
    color: #ffc107 !important; /* hover 시 색상 변경 */
}
.navbar-nav {
    margin: 0 auto;
}
